.App-footer {
    text-align: center; /* Center the text */
    padding: 16px; /* Add some padding */
    background-color: #fff; /* Change background color if desired */
    border-top: 1px solid #ccc; /* Optional: Add a top border */
  }
  