/* App.css */
.App {
    background-color: #fff4e4; /* Set the background color */
    min-height: 100vh; /* Ensure it takes full height */
    display: flex; /* Use flex to layout content */
    flex-direction: column; /* Stack children vertically */
  }
  
  main {
    flex-grow: 1; /* Allow main to take up available space */
  }
  
  .App-footer {
    /* You can also include footer styles here if needed */
  }
  